<div class="header__wrapper">
    <div class="container">
        <header class="header">
            <div class="logo">
                <svg class="logo__img">
                    <use xlink:href="#logo"></use>
                </svg>
                <a class="logo__link">
                    ВЕСНА ВСЕГДА
                </a>
            </div>
        
            <button class="menu__btn menu__btn--js button-reset" type="button"></button>
        
        </header>
    </div>
</div>
<nav class="menu menu--js">
    <div class="logo">
        <svg class="logo__img">
            <use xlink:href="#logo"></use>
        </svg>
        <p class="logo__text">
            ВЕСНА ВСЕГДА
        </p>
    </div>

    <h2 class="menu__title">свадебная <br> флористика</h2>
    <ul class="menu__list list-reset">
        <li class="menu__item">
            <a href="" class="menu__link">букеты на любые <br>
                мероприятия</a>
        </li>
        <li class="menu__item">
            <a href="" class="menu__link">букеты невесты</a>
        </li>
        <li class="menu__item">
            <a href="" class="menu__link">композиции</a>
        </li>
        <li class="menu__item">
            <a href="" class="menu__link">оформление <br>
                мероприятий</a>
        </li>
    </ul>
</nav>