<section class="modal">
    <button class="modal__close button-reset" type="button"></button>
    <img class="modal__img" src="assets/img/modal.jpg" alt="">
    <div class="modal__inner">
        <h3 class="modal__title">Оставьте свой <br>
            номер и мы вам <br>
            перезвоним!</h3>
        <form class="modal__form" action="#" method="get">
            <input class="modal__input" type="text" placeholder="Имя">
            <input class="modal__input" type="tel" placeholder="Телефон">
            <button class="modal__btn button-reset" type="submit">ПОЗВОНИТЕ МНЕ</button>
        </form>
    </div>
</section>
<div class="modal-overlay"></div>